<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Displaying Percentage</title>
</head>
<body>
<form action="/percent" method="post">
<h1>Enter the Student details</h1>
<label>Name:</label><input type="text" name="NameEntered" required="required"/>
<br/><br/>
<label>Subject 1 Marks:</label><input type="number" name="MarksEntered1" required="required"/>
<br/><br/>
<label>Subject 2 Marks:</label><input type="number" name="MarksEntered2" required="required"/>
<br/><br/>
<label>Subject 3 Marks:</label><input type="number" name="MarksEntered3" required="required"/>
<br/><br/>
<label>Subject 4 Marks:</label><input type="number" name="MarksEntered4" required="required"/>
<br/><br/>
<label>Subject 5 Marks:</label><input type="number" name="MarksEntered5" required="required"/>
<br/><br/>
<input type="submit" value="Check Percentage"/>

</form>
</body>
</html>