<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Creating Student Object</title>
</head>
<body>
<form Action="/addStudent" method="post">
<h1>Enter Student Details...</h1>
<label>RollNo</label>
<input type="text"  name="RollNo" required="required"/>
<br/><br/>
<label>Name</label>
<input type="text"  name="Name" required="required"/>
<br/><br/>
<label>Marks</label>
<input type="number"  name="Marks" required="required"/>
<br/><br/>
<input type="submit" value="CreateStudent"/>
</form>
</body>
</html>