<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Updating Student Object</title>
</head>
<body>
<form Action="/updateStudent" method="post">
<h1>Enter Student details that need to be Updated</h1>
<label>RollNo</label>
<input type="text" name="RollNo" required="required"/>
<br/><br/>
<label>Name</label>
<input type="text" name="Name" required="required"/>
<br/><br/>
<label>Marks</label>
<input type="number" name="Marks" required="required"/>
<br/><br/>
<input type="submit" value="UpdateStudent"/>
</form>
</body>
</html>